<template>
  <h2 class="text-center">History of Sudoku Solver</h2>
  <div class="center">
    <DataGrid :data-source="data" @selection-changed="onSelectionChanged" :selection="{ mode: 'single' }" :hover-state-enabled="true">
      <DxColumn :width="50" data-field="id"/>
      <DxColumn :width="150" data-field="time"/>
      <DxColumn data-field="data"/>
    </DataGrid>
  </div>
</template>
<script>
  import DataGrid from "devextreme-vue/ui/data-grid";
  import { DxColumn } from "devextreme-vue/ui/data-grid";
  export default {
    components: {
      DataGrid,
      DxColumn,
    },
    data() {
      return {
        data: []
      };
    },
    methods: {
        onSelectionChanged({ selectedRowsData }) {
          const data = selectedRowsData[0];
          if (!data) {
            return;
          }
          localStorage.setItem("SUDOKU_ID", data.id);
          window.location.href = '/';
      },
      async getData() {
        const sudokuUrl = import.meta.env.VITE_SUDOKU_URL ?? "https://localhost:5001";
        const response = await fetch(sudokuUrl + "/SudokuResolver");
        const data = await response.json();
        this.data = data;
      }
    },
    mounted() {
      this.getData()
    }
  }
</script>
  