<template>
  <div>
    <table class="center">
      <tbody>
        <tr v-for="(row, rowIndex) in board" :key="rowIndex">
          <td v-for="(cell, colIndex) in row" :key="colIndex">
            <input
              type="text"
              v-model.value="board[rowIndex][colIndex]"
            />
          </td>
        </tr>
      </tbody>
    </table>
    <p class="text-center" v-show="message != ''">{{ message }}</p>
    <div class="text-center">
      <DxButton text="Solve" @click="solveSudoku" />
      <DxButton text="Clear" @click="clearSudoku" style="margin-left: 10px;" />
    </div>
  </div>
</template>
<style scoped>
* { box-sizing: border-box; }
table {
  margin-left: auto;
  margin-right: auto;
  display: table;
  margin-bottom: 5px;
}
tr:first-child td {
	border-top-color: black;
}
tr:nth-child(3n) td {
	border-bottom-color: black;
}
td {
	border: 1px solid lightgrey;
	height: 40px;
	width: 40px;
}
td:first-child {
	border-left-color: black;
}
td:nth-child(3n) {
	border-right-color: black;
}
input {
	padding: 0;
	text-align: center;
	border: 0;
	height: 40px;
	width: 40px;
	text-align: center;
}

input:hover {
	background: #ffffff;
}
</style>
<script>
  import DxButton from "devextreme-vue/button";
  export default {
    components: {
      DxButton
    },
    data() {
      return {
        board: [
          [3, null, null, 8, null, 1, null, null, 2],
          [2, null, 1, null, 3, null, 6, null, 4],
          [null, null, null, 2, null, 4, null, null, null],
          [8, null, 9, null, null, null, 1, null, 6],
          [null, 6, null, null, null, null, null, 5, null],
          [7, null, 2, null, null, null, 4, null, 9],
          [null, null, null, 5, null, 9, null, null, null],
          [9, null, 4, null, 8, null, 7, null, 5],
          [6, null, null, 1, null, 7, null, null, 3]
        ],
        message: ""
      };
    },
    methods: {
      async saveBoard() {
        const requestOptions = {
          method: "POST",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify({ data: this.buildData() })
        };
        const sudokuUrl = import.meta.env.VITE_SUDOKU_URL ?? "https://localhost:5001";
        fetch(sudokuUrl + "/SudokuResolver", requestOptions)
          .then(async response => {
            const data = await response.json();
            if (!response.ok) {
              const error = (data && data.errors) || response.status;
              return Promise.reject(error);
            }

            this.message = "Resolved! Saved to server with id " + data.id + " at " + data.time;
          })
          .catch(error => {
            this.message = "Resolved! But got error while saving data. " + JSON.stringify(error.Data);
          });
      },
      buildData() {
        let data = "";
        for (let i = 0; i < 9; i++) {
          for (let j = 0; j < 9; j++) {
            data += this.board[i][j];
          }
        }
        return data;
      },
      clearSudoku() {
        this.message = '';
        for (let i = 0; i < 9; i++) {
          for (let j = 0; j < 9; j++) {
            this.board[i][j] = null;
          }
        }
      },
      solveSudoku() {
        if (!this.isBoardValid()) {
          this.message = "The current board is not valid!";
          return;
        }
        let colCheck = Array.from(Array(9), () => Array(9).fill(false));
        let rowCheck = Array.from(Array(9), () => Array(9).fill(false));
        let squareCheck = Array.from(Array(3), () => Array.from(Array(3), () => Array(9).fill(false)));

        for (let i = 0; i < 9; i++) {
          for (let j = 0; j < 9; j++) {
            let num = this.board[i][j];
            if (num !== null) {
              rowCheck[i][num - 1] = true;
              colCheck[j][num - 1] = true;
              squareCheck[i/3>>0][j/3>>0][num - 1] = true;
            }
          }
        }

        const solveHelper = (row, col) => {
          if (col === 9) {
            col = 0;
            row++;
            
            if (row === 9) {
              return true;
            } else {
              return solveHelper(row, col);
            }
          }
          
          if (this.board[row][col] !== null) {
            return solveHelper(row, col + 1);
          }
          for (let num = 1; num <= 9; num++) {
            if (!rowCheck[row][num - 1] && !colCheck[col][num - 1] && !squareCheck[row/3>>0][col/3>>0][num - 1]) {
              this.board[row][col] = num;
              rowCheck[row][num - 1] = true;
              colCheck[col][num - 1] = true;
              squareCheck[row/3>>0][col/3>>0][num - 1] = true;
              if (!solveHelper(row, col + 1)) {
                rowCheck[row][num - 1] = false;
                colCheck[col][num - 1] = false;
                squareCheck[row/3>>0][col/3>>0][num - 1] = false;
              } else {
                return true;
              }
            }
          }
          this.board[row][col] = null;
          return false;
        };

        if (solveHelper(0, 0)) {
          this.saveBoard();
        } else {
          this.message = "Could not solve sudoku!";
        }
      },
      isBoardValid() {
        // check rows
        for (let row = 0; row < 9; row++) {
          let nums = new Set();
          for (let col = 0; col < 9; col++) {
            if (this.board[row][col] !== null) {
              if (nums.has(this.board[row][col])) {
                return false;
              }
              nums.add(this.board[row][col]);
            }
          }
        }
        // check columns
        for (let col = 0; col < 9; col++) {
          let nums = new Set();
          for (let row = 0; row < 9; row++) {
            if (this.board[row][col] !== null) {
              if (nums.has(this.board[row][col])) {
                return false;
              }
              nums.add(this.board[row][col]);
            }
          }
        }

        // check subgrids
        for (let subgridRow = 0; subgridRow < 9; subgridRow += 3) {
          for (let subgridCol = 0; subgridCol < 9; subgridCol += 3) {
            let nums = new Set();
            for (let row = subgridRow; row < subgridRow + 3; row++) {
              for (let col = subgridCol; col < subgridCol + 3; col++) {
                if (this.board[row][col] !== null) {
                  if (nums.has(this.board[row][col])) {
                    return false;
                  }
                  nums.add(this.board[row][col]);
                }
              }
            }
          }
        }
        return true;
      },
      async getData() {
        const id = localStorage.getItem("SUDOKU_ID");
        if (id === null || id === '') {
          return;
        }
        const sudokuUrl = import.meta.env.VITE_SUDOKU_URL ?? "https://localhost:5001";
        const response = await fetch(sudokuUrl + "/SudokuResolver/" + id);
        const data = await response.json();
        this.data = this.deserializeData(data.data);
      },
      deserializeData(data) {
        for (let i = 0; i < 9; i++) {
          for (let j = 0; j < 9; j++) {
            this.board[i][j]=data[j + i * 9];
          }
        }
      }
    },
    mounted() {
      this.getData();
    }
  }
</script>
