<script setup>
import { RouterLink, RouterView } from 'vue-router'
</script>

<template>
  <header class="text-center">
    <img alt="Vue logo" class="center" src="@/assets/logo.png" width="125" height="125" />
    <nav>
        <RouterLink to="/">Home</RouterLink> | 
        <RouterLink to="/history">History</RouterLink>
      </nav>
    <h1>Sudoku Solver</h1>
    <sub>ver.!!version!!</sub>
  </header>

  <div class="content">
    <RouterView />
  </div>
</template>
<style>
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.text-center {
  text-align: center;
}
#app {
  max-width: 860px;
  margin-left: auto;
  margin-right: auto;
}
</style>
